# monacelli_pylog_prefs
# ipython
# django-extensions
# Django
# humanfriendly
# Jinja2
# Pandas
# PyYAML
# pydantic
# wheel
asgiref==3.4.1
backcall==0.2.0
click==8.0.3
cog==0.0.3
decorator==5.1.0
Django==3.2.8
django-extensions==3.1.3
humanfriendly==10.0
ipython==7.28.0
jedi==0.18.0
Jinja2==3.0.2
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
monacelli-pylog-prefs==0.7.0
mysqlclient==2.0.3
numpy==1.21.2
pandas==1.3.4
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pip==21.3
prompt-toolkit==3.0.20
ptyprocess==0.7.0
pydantic==1.8.2
Pygments==2.10.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
setuptools==57.5.0
six==1.16.0
sqlparse==0.4.2
traitlets==5.1.0
typing-extensions==3.10.0.2
wcwidth==0.2.5
wheel==0.37.0
