#!/bin/bash
set -o errexit
{%- import "macros.j2" as macros with context %}

{{ macros.system_setup() }}

# sudo time ./test_statement_based_binlog_format.bats
sudo time ./test_percona_checksums.bats
# sudo time ./test_fart.bats
# sudo time ./test_recover_from_bad_state.bats
  
{#

{{ macros.podman_stop_containers() }}
{{ macros.podman_stop_pods() }}
{{ macros.podman_rm_containers() }}
{{ macros.podman_rm_pods() }}



{{ macros.podman_create_pods() }}
{{ macros.podman_create_containers() }}
{{ macros.podman_start_pods() }}
{{ macros.mysql_start_slave() }}
{{ macros.mysql_wait_for_replication() }}

sudo time ./test_statement_based_binlog_format.bats
sudo time ./test_percona_checksums.bats
sudo time ./test_fart.bats
sudo time ./test_recover_from_bad_state.bats

#}


{# keep newline at end of file please but only for aesthetics #}
