#!/usr/bin/env bats

{% import "macros.j2" as macros with context -%}
{%- set global=manifest['global'] -%}
{%- set replication=manifest['replication'] -%}
{%- set pods=manifest['pods'] -%}

{{ macros.import_common_functions() }}

@test '{{ test_name }}' {


{{ macros.mysql_wait_for_replication() }}

{{ macros.mysql_jump() }} --host={{ pods[0].name }} --execute 'DROP DATABASE IF EXISTS ptest'

{{ macros.mysql_stop_slave() }}

{{ macros.mysql_create_db_on_host('ptest', pods[0].name) }}

result=$({{ macros.mysql_jump() }} --host={{ pods[0].name }} --skip-column-names --database=ptest --execute 'SELECT id FROM dummy WHERE name="a"')
[ "$result" == 1 ]

# ensure these fail
{%- for pod in pods %}
{% if not loop.first -%}
run {{ macros.mysql_jump() }} --host={{ pod.name }}.dns.podman --execute 'USE ptest'
[ "$status" == 1 ]
{%- endif %}
{%- endfor %}

{{ macros.mysql_start_slave() }}

{{ macros.mysql_wait_for_replication() }}

{{ macros.bats_test_mysql_check_db_exists_everywhere('ptest') }}


}

