#!/usr/bin/env bats

{% import "macros.j2" as macros with context %}
{%- set global=data['global'] -%}
{%- set replication=data['replication'] -%}
{%- set pods=data['pods'] -%}

{{ macros.import_common_functions() }}

@test '{{ test_name }}' {





{% for pod in pods %}
result=$({{ macros.mysql_jump() }} --host={{ pod.name }} --execute 'SHOW VARIABLES LIKE "binlog_format"')
run grep --silent -E 'binlog_format.*STATEMENT' <<<"$result"
[ "$status" -eq 0 ]
{% endfor %}





}
