#!/usr/bin/env bats


: <<'END_COMMENT'

start over
stop replication
create db1 on host1 
create db2 on host2 and verify it exist
verify db1 exists on host1 and not on any other host
verify db2 exists on host2 and not on any other host
start replication
verify db1 exists on all hosts (because it was replicated)
verify db2 exists on all hosts (because it was replicated)

END_COMMENT

{% import "macros.j2" as macros with context %}
{%- set global=manifest['global'] %}
{%- set replication=manifest['replication'] %}
{%- set pods=manifest['pods'] %}

{{ macros.import_common_functions() }}

@test '{{ test_name }}' {



{{ macros.start_over() }}

{{ macros.mysql_jump() }} --host={{ pods[0].name }} --execute 'DROP DATABASE IF EXISTS ptest1'
{{ macros.mysql_jump() }} --host={{ pods[0].name }} --execute 'DROP DATABASE IF EXISTS ptest2'

{%- for pod in pods %}
run {{ macros.mysql_jump() }} --host={{ pod.name }}.dns.podman --execute 'USE ptest1'
[ "$status" == 1 ]
run {{ macros.mysql_jump() }} --host={{ pod.name }}.dns.podman --execute 'USE ptest2'
[ "$status" == 1 ]
{%- endfor %}

{{ macros.mysql_stop_slave() }}

{{ macros.mysql_create_db_on_host('ptest1', pods[0].name) }}

{{ macros.mysql_create_db_on_host('ptest2', pods[1].name) }}

run {{ macros.mysql_jump() }} --host={{ pods[0].name }}.dns.podman --execute 'USE ptest1'
[ "$status" == 0 ]

run {{ macros.mysql_jump() }} --host={{ pods[1].name }}.dns.podman --execute 'USE ptest2'
[ "$status" == 0 ]

{% for pod in pods %}
{% if loop.index !=1 -%}
run {{ macros.mysql_jump() }} --host={{ pod.name }}.dns.podman --execute 'USE ptest1' #{{ loop.index }}
[ "$status" == 1 ]
{%- endif %}  
{%- endfor %}

{%- for pod in pods %}
{% if loop.index !=2 -%}
run {{ macros.mysql_jump() }} --host={{ pod.name }}.dns.podman --execute 'USE ptest2' #{{ loop.index }}
[ "$status" == 1 ]
{%- endif %}  
{%- endfor %}

{{ macros.mysql_start_slave() }}

{{ macros.mysql_wait_for_replication() }}

{% for pod in pods %}
run {{ macros.mysql_jump() }} --host={{ pod.name }}.dns.podman --execute 'USE ptest1' #{{ loop.index }}
[ "$status" == 0 ]
run {{ macros.mysql_jump() }} --host={{ pod.name }}.dns.podman --execute 'USE ptest2' #{{ loop.index }}
[ "$status" == 0 ]
{%- endfor %}







}
