#!/usr/bin/env bats

{% import "macros.j2" as macros with context %}
{%- set global=manifest['global'] %}
{%- set replication=manifest['replication'] %}
{%- set pods=manifest['pods'] %}

{{ macros.import_common_functions() }}

@test '{{ test_name }}' {

{{ macros.mysql_create_database_ptest() }}

{{ macros.mysql_from_jump() }} --host={{ pods[0].name }} --execute 'USE ptest'
[ "$status" -eq 1 ]

{{ macros.mysql_from_jump() }} --user={{ global.user_root }} --host=my4p --execute 'USE ptest'
[ "$status" -eq 1 ]

{{ macros.mysql_create_database_ptest() }}
{{ macros.mysql_from_jump() }} --host={{ pods[0].name }} --database=ptest --execute 'CREATE TABLE dummy (id INT(11) NOT NULL auto_increment PRIMARY KEY, name CHAR(5)) engine=innodb;'
{{ macros.mysql_from_jump() }} --host={{ pods[0].name }} --database=ptest --execute 'INSERT INTO dummy (name) VALUES ("a"), ("b")'
{{ macros.mysql_from_jump() }} --host={{ pods[0].name }} --database=ptest --execute 'SELECT * FROM dummy'
{{ macros.mysql_from_jump() }} --host=my4p --database=ptest --execute 'SELECT * FROM dummy'

result=$({{ macros.mysql_from_jump() }} --host=my4p --database=ptest --execute 'SELECT id FROM dummy WHERE name="a"')
[ $result -eq 1 ]

result=$({{ macros.mysql_from_jump() }} --host=my4p --database=ptest --execute 'SELECT id FROM dummy WHERE name="c"')
[ "$result" == "" ]

}

